<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Comments</title>
</head>
<body>
    <h1>Comments for {{ movie.title }}</h1>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.comment }}</li>
        {% endfor %}
    </ul>
</body>
</html>





{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Movie Comments</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Comments for {{ movie.title }}</h1>#}
{#    <ul>#}
{#        {% for comment in comments %}#}
{#            <li>User ID: {{ comment.user_id }}, Comment: {{ comment.comment }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</body>#}
{#</html>#}
